<div class="container-fluid vh-100 d-flex align-items-center justify-content-center" style="background: linear-gradient(to right, #007bff, #343a40);">
  <div class="p-4 bg-white border border-primary rounded-4 shadow-lg" style="background: linear-gradient(to left,#2a5298,#a1c4fd);max-width: 1000px; width: 500px; height:400px;">
    <h1 class="text-center mb-4">LOGIN FORM</h1>

    <form #myForm="ngForm">
      <div class="mb-3">
        <label for="username" class="form-label" style="font-weight: bold;">USERNAME:</label>
        <input type="text" class="form-control" [(ngModel)]="username" required #c1="ngModel" minlength="6" name="username">
        <div *ngIf="c1.touched && c1.invalid" class="text-danger small mt-1">
          <span *ngIf="c1.errors?.['required']">*UserName is Required</span>
          <span *ngIf="c1.errors?.['minlength']">*Minimum length is 6</span>
        </div>
      </div>

      <div class="mb-3">
        <label for="pwd" class="form-label" style="font-weight: bold;">PASSWORD:</label>
        <input type="password" class="form-control" name="pwd" [(ngModel)]="pwd" required #c2="ngModel" minlength="8">
        <div *ngIf="c2.touched && c2.invalid" class="text-danger small mt-1">
          <span *ngIf="c2.errors?.['required']">*Password is Required</span>
        </div>
      </div>

      <div class="text-center">
        <input type="submit" value="LOGIN" (click)="validate(myForm)" class="btn btn-primary w-100">
      </div>
    </form>

    <hr />
    <div *ngIf="msg" class="alert mt-2 text-center" [ngClass]="{'alert-success': error1 === 'green', 'alert-danger': error1 === 'red'}">
      {{msg}}
    </div>
  </div>
</div>
